@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #FFFDF5 ;
    --color-secondary: #FBFFEB ;
    --color-tertiary: #ffbb5b ;
    --color-blue: #A8E0EF ;
    --color-text: #040404 ;
    --color-muted: #4D4D4D ;
}

html {
    font-family: "Montserrat", sans-serif;
}