@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Montserrat", sans-serif;
    --color-primary: #FFFDF5 ;
    --color-secondary: #FBFFEB ;
    --color-tertiary: #ffbb5b ;
    --color-text: #040404 ;
    --color-muted: #808080 ;
}
